<html>

<head>
    <meta charset="utf-8" />
    <title>WEB SHOP</title>
    <link rel="stylesheet" href="~/Content/CSS/style.css" />
    <link rel="stylesheet" href="~/Content/CSS/addProductStyle.css" />
</head>

<body>
    <script src="~/Content/Scripts/main.js" type="module"></script>
</body>

</html>