<!DOCTYPE html>
<html>
    <head>
        <title>Dodaj proizvod</title>
        <link rel="stylesheet" href="~/Content/CSS/addProductStyle.css">
    </head>
    <body>
        <script src="~/Content/Scripts/productManipulation.js" type="module"></script>
    </body>
</html>